logs/
.pyc
.env
.venv
*.pyc
.idea/
__pycache__/
*.txt
env/*
venv/*
allure_report/
allure-report/
apks/
appium_grid_files/
selenium_server/
bin/
lib/
selenium_grid/*.jar

#remove all pyc file
#find . -name "*.pyc" -exec git rm -f "{}" \;
env/bin/activate
